.col-sm-6 h2 {
    margin-top: 40px;

}

.col-sm-6 img {
    padding-top: 40px;
}

.jumbotron {
    background-color: white;
    box-shadow: 0px 4px 32px -8px rgb(76, 73, 73);
    padding: 20px 0px;
    margin-bottom: 15px;
    font-family: 'Sedgwick Ave', cursive;    /*font-family: 'Sacramento';*/
    background-image: url("Abstract-Painting.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1, h2, h3 {
    color: white;
}

.jumbotron h1 {
    font-size: 64px;
}

h2 {
    font-family: 'Sedgwick Ave', cursive;    /*font-family: 'Sacramento';*/
    color: black;
}
.jumbotron img{
    width: 600px;
}
p {
    font-family: 'Waiting for the Sunrise';
    font-size: 24px;

}

.bio p {
    padding-bottom: 50px;
}

.jumbotron i {
    padding-left: 12px;
}
