<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Edit Website</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 visible-lg sr-split-view-left">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10"></div>
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                                {{website.name}}
                            </a>
                        </div>
                    </div>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-9 sr-split-view-right">
            <label for="name">Name</label>
            <input name="name"
                   ng-model="model.website.name"
                   id="name"
                   type="text"
                   placeholder="Facebook"
                   class="form-control"/>
            <label for="desc">Description</label>
            <textarea name="desc"
                      rows="5"
                      id="desc"
                      placeholder="A social media website that allows users to connect with anyone around the globe"
                      class="form-control"
                      data-ng-model="model.website.description">A social media website that allows users to connect with anyone around the globe</textarea>

            <a class="btn btn-success btn-block"
               ng-click="model.updateWebsite(model.website)">Update</a>
            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWebsite()">Delete</a>
            <a class="btn btn-primary btn-block"
               href="#!/user/{{model.userId}}/website"
               role="button">Cancel</a></div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="spr-navbar" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

