
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">New Page</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
{{model}}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 visible-lg sr-split-view-left">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}">
                                <span class="glyphicon glyphicon-pencil pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
        <div class="col-xs-12 col-lg-9 sr-split-view-right">
            <label for="name">Name</label>
            <input name="name"
                   ng-model="model.page.name"
                   id="name"
                   type="text"
                   placeholder="Page Name"
                   class="form-control"/>
            <label for="desc">Title</label>
            <input name="name"
                   ng-model="model.page.title"
                   type="text"
                   id="desc"
                   placeholder="Page Title"
                   class="form-control"/>

            <a class="btn btn-primary btn-block"
               ng-click="model.createPage(model.page)">Create</a>
            <a class="btn btn-danger btn-block"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
               role="button">Cancel</a></div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="spr-navbar" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

